$theme-colour: #29c2e9;

.quickfuncs A:hover {
        border:1px solid $theme-colour;
    }

#footer_hl {
    background:$theme-colour;
}

H2,
H3 {
    color:$theme-colour;
}

HR {
    border-top:1px solid $theme-colour;
}

A.button {
    background: url('bulletimg.gif') no-repeat left center;
}

A.button:hover {
    color:$theme-colour;
}

DIV.tabs A {
    background:lighten($theme-colour, 30%);
}

DIV.tabs A.selected,
DIV.tabs A:hover {
    border-bottom:5px solid $theme-colour;
}

DIV.pagercontainer SPAN SPAN {
    color:$theme-colour;
}

DIV.pagercontainer .current {
    border-bottom:5px solid $theme-colour;
}

.level_high {
    border-left:10px solid $theme-colour !important;
}

FIELDSET {
     border:1px solid darken($theme-colour, 20%);
}

.fg-theme {
    color:$theme-colour;
}

.bg-theme {
    background-color:$theme-colour;
}

.bg-theme-l {
    background-color:lighten($theme-colour, 30%);
}

.btn-primary {
    background-color:darken($theme-colour, 20%);
    border-color:darken($theme-colour, 20%);
}

.btn-primary:HOVER {
    background-color:$theme-colour;
    border-color:$theme-colour;
}
