@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Extended Warranty System</h2>
    Please use the navigation on the left to access the various sections of the Spectrum system. Menus will expand to reveal additional navigation options.


<div class="form-group">
    <div class="col-md-offset-10 col-md-1">
        <a href="@Url.Action(MVC.Quote.NewQuote())" class="btn btn-primary throbber">
            Begin New Quote
            <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      
    </div>
</div>

<br /><hr /><br />