/* PALLETTE */
$white: #fff;
$black: #000;
$lime: #91c73d;
$sky: #16b4d8;
$steel: #9c9c9d;
$rose: #ef4c4d;
$navy: #334b87;

$font-standard: Arial;

/* ===========================
--- HTML DEFAULTS
============================ */

BODY{
    background:#dedede url('../Images/bg.gif');
    margin:1.5em;
    padding:0;
    line-height: 1.5em;
    color:#444;
    font-size:12px;
    padding:15px;
}

A {
    color:lighten($black, 50%);
}

EM {
    color:#f00;
}

P,
TABLE TR TD {
    font:1em $font-standard;
}

B{
    font-size: 110%;
}

H2 {
    font:normal 1.4em $font-standard;
}

H3 {
    font:bold 1.2em $font-standard;
}

H4 {
    font:bold 1.0em $font-standard;
    text-transform:uppercase;
    margin:0;
}

A.tecmedlogo IMG {
    border:0;
    width:142px;
    height:129px;
}

#topsection{
    background: #fff;
    height: 60px;
    text-align:right;
}

#topsection h1{
    margin: 0;
    padding-top: 15px;
}

#contentwrapper,
#bodywrapper{
    margin:0;
    float: left;
    width: 100%;
}

#contentcolumn{
    margin-left: 200px;
}

#leftcolumn{
    float: left;
    width: 200px;
    margin-left: -100%;
    background: url('../Images/logobg.gif') repeat-x left top;
    height:600px;
}

#heading {
    background:#c0c0c0;
    height:52px;
    margin: 20px 250px 0px 20px;
}

.quickfuncs {
    background:#777;
    height:35px;
    float:left;
    width:230px;
    margin:20px 0 0 -230px;
    text-align:center;
}

.quickfuncs A {
    text-decoration:none;
    font-size:18px;
    color:#eee;
    display:inline-block;
    margin:3px 6px 1px 6px;
    border:1px solid #777;
    padding:3px;
}

#body {
    clear:left;
    background:#fff url('../Images/headingbg.png') no-repeat 15px 0px;
    min-height:200px;
    margin:0 0 0 20px;
    padding:15px;
}

#body,    
#body P {
        font:1em $font-standard;
    }

#footer {
    background:#fff;
    height:5px;
    margin:0 0 0 20px;
}

#footer_hl {
    float:right;
    width:30%;
    height:5px;
}

#logo {
    text-align:center;
    padding: 10px 0 10px 0;
}

#navwrapper {
    padding-top:10px;
}

#heading H1 {
    padding:10px 0 0 70px;
    font:normal 1.6em $font-standard;
    color:#fff;
}

HR {
    border-top:1px solid #777;
    border-bottom:1px solid #fff;
}

A.button {
    display:inline-block;
    font:normal 0.6em $font-standard;
    text-decoration:none;
    text-transform:uppercase;
    color:#444;
    padding:2px 0 0 15px;
    margin-right:20px;
}

DIV.tabs {
    float:right;
    text-align:right;
}

DIV.tabs A {
    margin:0px;
    line-height:30px;
    padding:3px 10px 3px 5px;
    color:#000;
    text-decoration:none;
}

DIV.pagercontainer INPUT {
    
}

DIV.pagercontainer {
    font:normal 1em $font-standard;
    color:#999;
}

DIV.pagercontainer SPAN SPAN,
A.pager {
    position:relative;
    top:-4px;
    display:inline-block;
    text-decoration:none;
    padding:0 3px 0 3px;
    margin:0 7px 2px 7px;
}

A.pager {
    color:#999;
}

a.pager-nav {
    font-weight:bold;
    color:#ccc;
    cursor: hand;
    padding:5px;
    border:1px solid #ddd;
    border-radius:3px;
}

a.pager-nav:HOVER {
    background:#eee;
    color:#777;
    text-decoration:none;
}

.error {
    font: 0.8em $font-standard;
    color:#f00;
}

.vtop {
    vertical-align:top;
}

.tpad {
    padding-top:10px;
}

.fluid {
    display:inline-table;
    margin:5px;
}

FIELDSET {
    font-size: 1em;
}

.msgctrl {
    clear:both;
    margin:30px 15px 20px 15px;
}

/* ===========================
--- Login
============================ */

.login-container {
    padding-top:100px;
    width:500px;
    display:block;
    margin:auto;
}

.login-top {
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 2px 5px #888888;
    width:450px;
    height:80px;
    padding:10px;
}

.login-main {
    box-shadow: 2px 2px 5px #888888;
    box-sizing:border-box;
    margin-top:30px;
    width:450px;
}

.login-main-head {
    background:#808080;
    font:bold 3em $font-standard;
    color:#fff;
    height:60px;
    padding:10px 10px 10px 40px;
}

.login-main-form {
    background:#fff;
    padding:10px;

}

/* ===========================
--- Sizes
============================ */

.xlarge {
    font-size:1.8em;
}

.large {
    font-size:1.5em;
}

.medium {
    font-size:1.4em;
}

.small {
    font-size:1.3em;
}

/* ===========================
--- Color Styles
============================ */


.fg-dark {
    color: lighten($black, 20%);
}

.fg-white {
    color:$white;
}

.btn-link:hover,
.btn-link:focus {
  color:inherit;
  text-decoration: none;
  background-color: transparent;
}

/* ===========================
--- Margins
============================ */

.bottom-gap-10 {
    margin-bottom: 10px !important;
}

.bottom-gap-20 {
    margin-bottom: 20px !important;
}

.bottom-gap-30 {
    margin-bottom: 30px !important;
}

.right-gap-10 {
    margin-right: 10px !important;
}

.right-gap-20 {
    margin-right: 20px !important;
}

.right-gap-30 {
    margin-right: 30px !important;
}

/* ===========================
--- Paddings
============================ */

.pad3 {
    padding:3px !important;
}

.pad5 {
    padding:5px !important;
}

.pad10 {
    padding:10px !important;
}

.right-pad-10 {
    padding-right: 10px !important;
}

.right-pad-20 {
    padding-right: 20px !important;
}

.bottom-pad-10 {
    padding-bottom:20px !important;
}

.bottom-pad-20 {
    padding-bottom:20px !important;
}

/* ===========================
--- Alignment
============================ */

.r-align {
    text-align:right !important;
}

.l-align {
    text-align:left !important;
}


.form-control {
    margin:3px;
}

.form-control-greyed {
    background: #ddd;
}

/* ===========================
--- Navigation
============================ */

#mainnav {

    margin-top:40px;

    DIV.panel-heading {
        box-sizing:border-box;
        font:bold 1em Arial !important;
        color:$white;
        padding:10px;
        height:40px;
        margin:0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -khtml-border-radius: 3px;
        border-radius: 3px;
        border:3px solid #fff;
        cursor:pointer;

        &.lime {
            background:$lime;
        }

        &.sky {
            background:$sky;
        }

        &.steel {
            background:$steel;
        }

        &.rose {
            background:$rose;
        }

        &.navy {
            background:$navy;
        }

        A {
           color:$white !important;
           text-decoration:none;
           text-transform:none !important;
        }
    }

    DIV.panel-body {
        background:$white;
        padding:0;

        A {
            padding:5px 5px 5px 25px;
            display:block;
            font:bold 0.8em $font-standard;
            text-transform:uppercase;
            text-decoration:none;

            &.selected {
                background:darken($white, 5%);
            }
        }

        &.lime A {
            color:$lime;
        }

        &.sky A {
            color:$sky;
        }

        &.steel A {
            color:$steel;
        }

        &.rose A {
            color:$rose;
        }

        &.navy A {
            color:$navy;
        }
    }

}
